<div class="container mt-3 ">

    <div class="row">
        <div class="col-2">
            <label>Operation: </label>
        </div>
        <div class="col-2  main-border">

            <select #operations class="form-select text-bg-color" style="width: 10em;">
                <option *ngFor="let oper of operators" [value]="oper">
                    {{ oper }}
                </option>
            </select>

        </div>
    </div>

    <div class="row">
        <div class="col-2 ">
            <label class="form-label"> First Number: </label>
        </div>
        <div class="col-2 main-border">
            <input class="form-control text-bg-color"  #firstNum type="text" maxlength="12"
                [(ngModel)]="firstNumber" />
        </div>

    </div>

    <div class="row">
        <div class="col-2 ">
            <label> Second Number: </label>
        </div>
        <div class="col-2 main-border">
            <input class="form-control text-bg-color" #secondNum type="text" maxlength="12"
                [(ngModel)]="secondNumber" />
        </div>
    </div>

    <div class="row">
        <div class="col-2 ">
            <label> Result Number: </label>
        </div>
        <div class="col-2 main-border">
            <input class="form-control text-bg-color" type="text" maxlength="12" readonly="true"
                value="{{result}}" />
        </div>
    </div>

    <div>
        <button type="button" class="btn btn-primary" (click)="doCalculate()">
            <i class="bi bi-calculator">Calculate</i>
        </button>
    </div>
</div>